body {
    font-family: sans-serif;
}

.spender-name {
    width: 300px;
    background: aliceblue;
    border-width: 0;
    border-bottom: 2px solid lightblue;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

.expenses-list {
    padding: 0;
    list-style-type: none;
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
}

.expense {
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
}

.expense__description,
.expense__description--new,
.expense__description--total {
    width: 200px;
    border-bottom: 1px solid lightblue;
    font-size: 16px;
    font-family: sans-serif;
}

.expense__description--new {
    background: aliceblue;
    border-width: 0;
    border-bottom: 2px solid lightblue;
    margin-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.expense__description--total {
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 2px;
}

.expense__amount,
.expense__amount--new,
.expense__amount--total {
    box-sizing: border-box;
    width: 100px;
    text-align: right;
    border-bottom: 1px solid lightblue;
    font-size: 18px;
    font-weight: normal;
    padding-right: 11px;
    font-family: sans-serif;
    margin-right: 2px;
}

.expense__amount--new {
    width: 98px;
    background: aliceblue;
    border-width: 0;
    border-bottom: 2px solid lightblue;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.expense__amount--total {
    border: 0;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
